In [ ]:
import sqlite3
import pandas as pd
import seaborn as sns
import plotly.express as px

In [2]:
from src.sql.sql_all_data import sql_all_data
from src.sql.sql_questions import sql_questions

In [ ]:
conn = sqlite3.connect("src/db/mental_health.sqlite")
df = pd.read_sql(sql_all_data, conn)

# **EDA**

## **Age**

- Kokio amžiaus žmonės atsakinėjo į šią užklausą?
- Ar tas pats žmogus ja kartojo kiekvienais metais?
- Pagalvoti ir susikirstyti tuos žmones į grupes pagal amžių.

In [ ]:
# Sukuriame DF kopija, kad galėtume nepriklausomai nuo pagrindinio DF dirbti.
age = df.loc[df["QuestionID"] == 1].copy()
age["AnswerText"] = age["AnswerText"].astype("int")

In [ ]:
# Paliekame eilutes kuriose amzius 18 ir daugiau
age = age.loc[age["AnswerText"] > 17]

In [ ]:
age_group = (
    age.groupby(["Year", "AnswerText"])[["AnswerText"]]
    .count()
    .rename(columns={"AnswerText": "Count"})
    .reset_index()
    .rename(columns={"AnswerText": "Age"})
)

In [8]:
age

        UserID  Year  QuestionID       questiontext  AnswerText
0            1  2014           1  What is your age?          37
1            2  2014           1  What is your age?          44
2            3  2014           1  What is your age?          32
3            4  2014           1  What is your age?          31
4            5  2014           1  What is your age?          31
...        ...   ...         ...                ...         ...
203936    4214  2019           1  What is your age?          27
203937    4215  2019           1  What is your age?          48
203938    4216  2019           1  What is your age?          50
203939    4217  2019           1  What is your age?          30
203940    4218  2019           1  What is your age?          24

[4205 rows x 5 columns]